num_layer {
label = "BRAC";
    bindings = <
//                       ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                           XXX           XXX           XXX           &kp LPAR      &kp RPAR          XXX           XXX           XXX           XXX           XXX 
//                       ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                           &kp EQUAL     &kp LT        &kp GT        &kp LBRC      &kp RBRC          RHPR          &kp RSHFT     &kp RCTRL     &kp LALT      &kp LGUI
//         ╭─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮
             XXX           XXX           XXX           XXX           &kp LBKT      &kp RBKT          XXX           XXX           XXX           XXX           XXX           XXX
//         ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴─────────────╯
                                                       XXX           &kp SPACE     &kp TAB           XXX           XXX           XXX
//                                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
    >;
};