#define LHPR &kp LS(LA(LC(LGUI)))
#define RHPR &kp (RA(RC(RGUI)))
#define HPR_G &hml LS(LA(LC(LGUI))) G
#define HPR_H &hmr RS(RA(RC(RGUI))) H
#define SMART_NUM &smart_num NUM 0
#define NAV_SPC &lt NAV SPACE 
#define SYM_CT_SPC &lt SYM LC(SPACE)

#define XXX &none
#define ___ &trans

